.addfriend {
    width: 100%;
    margin-top: 40px;
    .addfriend__text {
        font-size: 1.6rem;
        font-weight: 600;
        margin-bottom: 16px;
    }

    .addfriend__list-suggest {
        width: 100%;
    }
}

.list-suggest__item {
    display: flex;
    margin-bottom: 14px;
    align-items: center;
    justify-content: space-between;
    .list-suggest__item--left {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        width: 70%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        --webkit-line-clamp: 1;

        .item__avt {
            width: 40px;
            height: 40px;
            object-fit: cover;
            border-radius: 999px;
            margin-right: 14px;
        }
        .item__name-reference {
            .item__name-reference--username {
                font-weight: 600;
                &:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }

            .item__name-reference--related {
                display: flex;
                p {
                    font-weight: 600;
                    margin-left: 4px;
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }
            }
        }
    }

    .list-suggest__item--right {
        display: flex;
        align-items: center;

        .add {
            font-size: 1.2rem;
            border-radius: 6px;
            margin: auto;
            padding: 6px 12px;
        }

        .cancel-request {
            background-color: transparent;
            font-weight: 600;
            color: #1ea1f7;
            &:hover {
                cursor: pointer;
                color: #186ccc;
            }
        }

        .btn-add {
            background-color: transparent;
            color: #1ea1f7;
            font-weight: 600;
            &:hover {
                cursor: pointer;
                color: #186ccc;
            }
        }
    }
}
