.suggest-wrapper {
    width: 100%;
}

.suggest__text {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 16px;
}

.list-suggest {
    width: 100%;
    .item-suggest {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 14px;
        .left-hand-sg {
            display: flex;
            align-items: center;
            width: 70%;
            .avt-image {
                width: 40px;
                height: 40px;
                object-fit: cover;
                border-radius: 999px;
                margin-right: 14px;
            }
            .name-reference {
                font-size: 1.2rem;
                .username {
                    font-weight: 600;
                    &:hover {
                        cursor: pointer;
                        text-decoration: underline;
                    }
                }

                .reference {
                    display: flex;
                    p {
                        margin: 0 4px;
                        font-weight: 600;
                        &:hover {
                            cursor: pointer;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

        .right-hand-sg {
            .follow {
                padding: 8px 26px;
                font-size: 1.2rem;
                border-radius: 6px;
            }
            .btn-follow {
                background-color: transparent;
                color: var(--green-color);
                font-weight: 600;
                &:hover {
                    cursor: pointer;
                    color: var(--green-color-hover);
                    color: #297342;
                }
            }
            .un-followed {
                background-color: transparent;
                font-weight: 600;
                color: var(--green-color);
                &:hover {
                    cursor: pointer;
                    color: #297342;
                }
            }
        }
    }
}
