:root {
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
}

//Scrollbar css;
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 10px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ccc;
}

html *::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0);
    background-color: #fff;
}

ul {
    list-style: none;
}

a {
    display: block;
    text-decoration: none;
    color: #fff;
}

ul,
p {
    margin: 0;
    padding: 0;
}

button {
    outline: none;
    border: none;
}
