.prof__change-password {
    width: 100%;
}

.change-password {
    display: flex;
    border-radius: 4px;
    padding: 30px 120px;
    height: 706px;
}

.change-password .options {
    display: flex;
    width: 200px;
    padding: 20px 30px;
    border: 1px solid #dbdbdb;
    .list-options {
        font-size: 1.4rem;
    }
}

.active {
    color: #424242;
    font-weight: 600;
    &:hover {
        cursor: text;
    }
}

.error-active {
    margin-top: 4px;
    font-size: 1.2rem;
    color: red;
}

.no-active {
    color: #424242;
    &:hover {
        cursor: pointer;
        color: #1ea1f7;
    }
}

.change-password .edit-prof {
    padding: 20px 30px;
    width: calc(100% - 200px);
    border: 1px solid #dbdbdb;

    .edit-prof__row {
        margin-top: 24px;
        display: flex;
        font-size: 1.4rem;
        .left-column {
            min-width: 200px;
            max-width: 200px;
            .title {
                text-align: end;
                font-size: 1.6rem;
                font-weight: 600;
            }
        }
        .right-column {
            margin-left: 26px;
            .prof-input {
                width: 300px;
                padding: 11px 10px;
                border-radius: 4px;
                border: 1px solid #ccc;
            }

            .prof-select {
                width: 300px;
            }
        }
    }
}

.edit-prof {
    .btn {
        margin-top: 0 !important;
    }
    .edit__btn-wrap {
        display: flex;
        .btn-save,
        .btn-reset {
            margin-top: 22px;
            font-size: 1.4rem;
            margin-right: 20px;
            .button {
                color: #fff;
                padding: 10px 28px;
                border-radius: 6px;
                background-color: #10b981;
                &:hover {
                    cursor: pointer;
                    background-color: #2d9d78;
                }
            }
        }

        .btn-reset {
            margin-top: 22px;
            margin-right: 22px;
            font-size: 1.4rem;
            a {
                padding: 10px 28px;
                border-radius: 6px;
                background-color: #f2f2f2;
                color: #000;
                &:hover {
                    cursor: pointer;
                    background-color: #e4e4e4;
                }
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .change-password {
        padding: 30px 14px;
        .options {
            width: 180px;
            padding: 20px;
        }
    }

    .change-password .edit-prof {
        width: calc(100% - 180px);
        padding: 20px;
        .edit-prof__row {
            .left-column {
                min-width: 140px;
                max-width: 140px;
            }

            .right-column {
                width: calc(100% - 140px);
                .prof-input,
                .prof-select {
                    width: 100%;
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    .right-hand {
        display: none;
        width: 0;
    }
    .change-password {
        display: block;
        margin: 0;
        padding: 20px;
        .options {
            width: 100%;
            border: none;
            position: relative;
            .list-options {
                display: flex;
                width: inherit;
                .item {
                    flex: 1;
                    text-align: center;
                }
            }

            .back-icon {
                width: 30px;
                position: absolute;
                bottom: 15px;
                color: #000;
                .icon {
                    font-size: 2.4rem;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .change-password .edit-prof {
        width: 100%;
        text-align: start;
        border: none;
        .profile-photo {
            .left-column {
                width: 50px;
                text-align: start;
                margin-right: 10px;
            }

            .right-column {
                min-width: 70%;
            }
        }
        .edit-prof__row {
            display: flex;
            flex-direction: column;
            margin-top: 22px;

            .left-column {
                margin-bottom: 6px;
                .title {
                    text-align: start;
                }
            }

            .right-column {
                margin-left: 0;
                .prof-input,
                .prof-select {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .change-password {
        .options {
            display: flex;
            padding: 16px 8px;
            .list-options {
                font-size: 1.3rem;
            }
            .back-icon {
                bottom: 11px;
                .icon {
                    font-size: 2rem;
                }
            }
        }

        .edit-prof {
            padding: 16px 8px;
            .edit-prof__row {
                .left-column {
                    .title {
                        font-size: 1.4rem;
                    }
                }
                .right-column {
                    .prof-input {
                        font-size: 1.2rem;
                        padding: 10px;
                    }
                }
            }
        }
    }

    .edit-prof .edit-prof__row {
        .btn-save {
            margin-right: 0;
            .button {
                padding: 10px 16px;
                font-size: 1.3rem;
                margin-right: 10px;
            }
        }
        .btn-reset {
            a {
                padding: 10px 16px;
                font-size: 1.3rem;
            }
        }
    }
}
