.root {
    display: flex;
    height: 2000px;
}

.children-hzt,
.children-vtc,
.children-sb {
    display: flex;
    width: 100%;
    overflow: hidden;
}

.nav-hzt {
    height: var(--nav-height);
}
.suggest-block-hzt {
    width: 100%;
    height: calc(100% - var(--nav-height));
}

.nav-vtc {
    width: var(--nav-weight);
    text-align: center;
}
.suggest-block-vtc {
    width: calc(100% - var(--nav-width));
}

.sidebar-wapper {
    width: var(--sidebar-width);
    text-align: center;
}
.suggest-block-sb {
    width: calc(100% - var(--sidebar-width));
}
