.container {
    width: 100%;
    background-color: antiquewhite;
}

.nav-hzt {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    .horizontal {
        height: var(--nav-height);
        width: 100%;
    }
}

.nav-vtc {
    height: 100%;
    z-index: 10;
    .vertical {
        width: var(--nav-width);
        height: 100%;
    }
}

.sidebar {
    width: var(--sidebar-width);
    .sidebar-wrapper {
        color: #000;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        height: 100%;
        width: inherit;
        justify-content: space-between;
        border-right: 1px solid #dbdbdb;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
    }
}
.main-ffc .logo {
    font-size: 3rem;
    padding: 20px 0;
    margin-bottom: 20px;
}

.sidebar__row,
.logout {
    display: flex;
    align-items: center;
    border-radius: 8px;
    padding: 4px 16px;
    margin-bottom: 10px;
    color: #424242;
    background-color: transparent;
    width: 100%;
    .icon {
        padding-right: 14px;
        font-size: 3.8rem;
    }

    p {
        font-size: 1.6rem;
    }
}

.sidebar__row:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.sidebar-wrapper .profile {
    display: flex;
    color: #424242;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 1.6rem;

    .wrap-avatar {
        padding-right: 10px;
        .avatar {
            width: 28px;
            height: 28px;
            border-radius: 999px;
            object-fit: cover;
        }
    }
}
.profile:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}

.sidebar-wrapper .logout {
    margin-bottom: 20px;

    .logout-icon {
        padding-right: 14px;
        font-size: 3.8rem;
    }
    .btn-logout {
        color: #424242;
        width: 100%;
        font-size: 1.6rem;
        background-color: transparent;
        text-align: start;
        &:hover {
            cursor: pointer;
        }
    }
}

.sidebar-wrapper .logout:hover {
    background-color: #f2f2f2;
    cursor: pointer;
}
